
body {
    background-color: #fff124;
}

h5,
p {
    text-align: center;
}

.navbar,
footer {
    background-color: #a8deff;
}

.card {
    border: solid;
    margin-top: 5em;
}

.btn {
    color:  black;
    font-weight: bold;
    border: 3px solid #fff124;
    border-radius: 10px;
    background-color: #a8deff;
}


.navbar-brand img {
    height: 4em;
    width: 4.5em; 
}

.card-deck {
    padding-bottom: 7em;
}

@media(min-width: 576px) and (max-width: 767px) {
.card-deck {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; 
    align-items: stretch;
  }
  .card-deck .card {
    display: block;
    flex-basis: 33.3%; 
  }

}
